<!DOCTYPE html>
<html>
<head>
    <title>Jenkins Job Status</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
    <meta http-equiv="refresh" content="30" >
</head>
<body>
<div class="container">
    <h1 class="my-3">Jenkins Job Status</h1>
    {% for folder in folders %}
    <div class="card folder-card">
        <div class="card-body">
            <h4 class="card-title">{{ folder.name }}</h4>
            {% for multibranch in folder.multibranches %}
            <div class="card multibranch-card">
                <div class="card-body">
                    <h5 class="card-title">{{ multibranch.name }}</h5>
                    {% for branch in multibranch.branches %}
                    <div class="card branch-card">
                        <div class="card-body">
                            <h6 class="card-title">{{ branch.name }}</h6>
                            <p class="card-text">Status:
                                {% if branch.status == 'SUCCESS' %}
                                <span class="badge badge-success">{{ branch.status }}</span>
                                {% elif branch.status == 'FAILURE' %}
                                <span class="badge badge-danger">{{ branch.status }}</span>
                                {% else %}
                                <span class="badge badge-secondary">{{ branch.status }}</span>
                                {% endif %}
                            </p>
                            <p class="card-text">Build Time: {{ branch.timestamp }}</p>
                            <p class="card-text">Elapsed Time: {{ branch.elapsed_time }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <div class="card transparent-card">
        <div class="card-body">
            <p class="card-text">Created by Otabek Ismoilov</p>
            <p class="card-text"><i class="fab fa-github"></i> <a href="[https://github.com/ismoilovdevml]">ismoilovdevml</a></p>
        </div>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</body>
</html>
